<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
 <!--   <test name="ScriptA" >
        <classes>
            <class name="TestNGTest" />
        </classes>
    </test>-->
    <test name="Test - browser Chrome" >
        <parameter name="browser" value="chrome"/>
        <!--<parameter name="sPassword" value="Xcg7299bnSmMuRLp9ITw"/>-->
        <classes>
            <class name="AssertScriptA" />
        </classes>
    </test>
    <test name="Test - browser Firefox" >
        <parameter name="browser" value="firefox"/>
        <!--<parameter name="sPassword" value="Xcg7299bnSmMuRLp9ITw"/>-->
        <classes>
            <class name="AssertScriptA" />
        </classes>
    </test>
    <test name="Test - browser Chrome" >
        <parameter name="browser" value="internet explorer"/>
        <!--<parameter name="sPassword" value="Xcg7299bnSmMuRLp9ITw"/>-->
        <classes>
            <class name="AssertScriptA" />
        </classes>
    </test>

</suite>